body {
  background-color: #e5ddd5; /* Warna latar belakang halaman yang lembut */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  color: #007bff;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="file"],
input[type="text"] {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="file"]:focus,
input[type="text"]:focus {
  border-color: #007bff;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #0056b3;
}

#upload-status,
#delete-status {
  text-align: center;
  color: #555;
  font-size: 14px;
}

#upload-btn,
#delete-btn {
  width: 98%;
}

input[type="file"] {
  max-width: 95%;
}

input[type="text"] {
  max-width: 95%;
}

.admin-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.spinner {
  border: 3px solid #f3f3f3; /* Light gray */
  border-top: 3px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.document-list-section {
  margin-top: 20px;
}

.document-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.document-list li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
